@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: #D96B4A;
  --color-primary-hover: #c45f40;
  --color-dark: #1e2530;
  --color-text: #171717;
  --color-gray-muted: #6b7280;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* cuerpo con fuente inter */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
/* títulos con fuente poppins */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-poppins), sans-serif;
}
