API_URL=https://back-trackifly-production.up.railway.app
NEXT_PUBLIC_API_URL=https://back-trackifly-production.up.railway.app
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
# NUEVO
GOOGLE_CLIENT_ID=830523678284-sn07o6g2ugnbdrnfbd6ulkfciofh50kp.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=trackifly2026